{% extends "layout.njk" %}
{% block content %}

<h1>Registrera dig</h1>
<p>Användarnamn</p>
<form class="row g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="validationCustomUsername" class="form-label"></label>
    <div class="input-group has-validation">
      <span class="input-group-text" id="inputGroupPrepend"></span>
      <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
        required>
      <div class="invalid-feedback">
      </div>
    </div>
    <p>Lösenord</p>
    <div lass="col-md-4">
      <label for="password" class="form-label"></label>
      <input type="password" class="form-control" id="password" value="" required>
      <div class="valid-feedback">
      </div>
    </div>

</form>
{% endblock %}